#speech synthesis
sounddevice
pydub
gtts

#voice recognition
SpeechRecognition
pocketsphinx
whisper

#text processing
spacy

#map generation
torchvision
numpy
opencv-python

###install via specialized script using a shell script TODO
#torch